<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Term Project</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            $(function(){
            $(window).scroll(function(){
                var navbar = $(this).scrollTop();
                console.log(navbar);
                // var $header = $('header');
                var $navbar_tag = $('.navbar')
                if(navbar > 10){
                    $navbar_tag.addClass('activated');
                }
                else{
                    $navbar_tag.removeClass('activated');
                    }
                })
            })
        </script>
<script type="text/javascript">
	function previewImage(targetObj, view_area) {
	var preview = document.getElementById(view_area); //div id
	var ua = window.navigator.userAgent;

	var files = targetObj.files;
	for ( var i = 0; i < files.length; i++) {
		var file = files[i];
		var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
		if (!file.type.match(imageType))
			continue;
		var prevImg = document.getElementById("prev_" + view_area); //이전에 미리보기가 있다면 삭제
		if (prevImg) {
			preview.removeChild(prevImg);
		}
		var img = document.createElement("img"); 
		img.id = "prev_" + view_area;
		img.classList.add("obj");
		img.file = file;
		img.style.width = '700px'; 
		img.style.height = '400px';
		preview.appendChild(img);
		if (window.FileReader) { // FireFox, Chrome, Opera 확인.
			var reader = new FileReader();
			reader.onloadend = (function(aImg) {
				return function(e) {
					aImg.src = e.target.result;
				};
			})(img);
			reader.readAsDataURL(file);
		} else { // safari is not supported FileReader
			//alert('not supported FileReader');
			if (!document.getElementById("sfr_preview_error_"
					+ view_area)) {
				var info = document.createElement("p");
				info.id = "sfr_preview_error_" + view_area;
				info.innerHTML = "not supported FileReader";
				preview.insertBefore(info, null);
			}
		}
	}
}
</script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">MSDS.ai</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Vincent_van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/776px-Vincent_van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg')">
            <div class="text-center my-5">
                <h1 class="text-white fs-3 fw-bolder">Nueral Style Transfer Project</h1>
                <p class="text-white-50 mb-0">경영자를위한딥러닝 </p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>인터넷 페이지 어떻게 만드는 건가요?</h2>
                        <p class="lead">딥러닝 배우러 와서 html과 씨름하는 내 신세..</p>
                        <p class="mb-0">음 여기다가는 무슨말을 쓰면 좋을까요? 조금 길게 써서 지워도 되구요.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- 중간 제목 -->
          <div class="text-center my-2" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
                <h1 class="text-white fs-3 fw-bolder">Nueral Style Transfer Project</h1>
        </div>

		<!-- py model로 보낼 정보 -->
        <form class=form-select align="center" action="/nst_post" method="POST" enctype="multipart/form-data">
            <!--Reference Image 선택하기-->
            <h2 align="center">Reference Images</h2>
            <p class='mb-1'> 스타일을 참조할 이미지를 선택해주세요.</p>
            <table align="center">
                <tr>
                    <td><img class="refer_img" id="refer_img1" src="https://raw.githubusercontent.com/MSD-AI/DeepLearning_TermProject/main/static/images/nst_get/rain_princess.JPG" ></td>
                    <td><img class="refer_img" id="refer_img2" src="https://raw.githubusercontent.com/MSD-AI/DeepLearning_TermProject/main/static/images/nst_get/the_stary_night.JPG"></td>
                    <td><img class="refer_img" id="refer_img3" src="https://raw.githubusercontent.com/MSD-AI/DeepLearning_TermProject/main/static/images/nst_get/scream.JPG"></td>
                    <td><img class="refer_img" id="refer_img4" src="https://raw.githubusercontent.com/MSD-AI/DeepLearning_TermProject/main/static/images/nst_get/zentangle_art.JPG"></td>
                </tr>
                <tr>
                    <td><input type="radio" name="refer_img" value="rain_princess.JPG"></td>
                    <td><input type="radio" name="refer_img" value="the_stary_night.JPG"></td>
                    <td><input type="radio" name="refer_img" value="scream.JPG"></td>
                    <td><input type="radio" name="refer_img" value="zentangle_art.JPG"></td>
                </tr>
            </table>
            
            <!--사용자 이미지 업로드-->
            <h2 align="center">Target Image</h2>
            <p class='mb-0'>스타일을 바꿀 이미지를 업로드해주세요.</p>
                <div align="center" id='view_area'></div>
            <br>
            <div>
                <input type="file" name="user_img" id="user_img" value="userIMgage" onchange="previewImage(this,'view_area')"/>
            </div>
        <!--<input type="submit" value="이미지 변환하기"/><br><br>-->
            <div><button type="submit" class="btn btn-primary">이미지변환</button></div>

        </form>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; MSDS.ai 2021</p></div>
        </footer>  
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>